# EditorConfig helps maintain consistent coding styles across various editors and IDEs
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Terraform files
[*.tf]
indent_style = space
indent_size = 2

# Terraform variable files
[*.tfvars]
indent_style = space
indent_size = 2

# Terraform test files
[*.tftest.hcl]
indent_style = space
indent_size = 2

# HCL files
[*.hcl]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab
