name: Testing module

on:
  push:
    branches: [main]
    paths-ignore:
      - 'examples/**'
      - 'LICENSE'
      - '**.md'
  # pull_request:
  #   branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

    steps:
      - name: Download environment
        env:
          URL_TESTING: ${{ secrets.URL_TESTING }}
        run: curl -o testing.tf "$URL_TESTING"

      - name: Download module
        run: git clone https://github.com/aztfm/terraform-azurerm-application-gateway.git

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1.2.1

      - name: Terraform init
        run: terraform init

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        run: terraform plan

      - name: Terraform apply
        run: terraform apply -auto-approve

      - name: Terraform destroy
        run: terraform destroy -auto-approve
